.col-1 {
  width: column(1);
}
.col-2 {
  width: column(2);
}
.col-3 {
  width: column(3);
}
.col-4 {
  width: column(4);
}
.col-5 {
  width: column(5);
}
.col-6 {
  width: column(6);
}
.col-7 {
  width: column(7);
}
.col-8 {
  width: column(8);
}
.col-9 {
  width: column(9);
}
.col-10 {
  width: column(10);
}
.col-11 {
  width: column(11);
}
.col-12 {
  width: column(12);
}

// column xs
@include xs {
  .col-xs-1 {
    width: column(1);
  }
  .col-xs-2 {
    width: column(2);
  }
  .col-xs-3 {
    width: column(3);
  }
  .col-xs-4 {
    width: column(4);
  }
  .col-xs-5 {
    width: column(5);
  }
  .col-xs-6 {
    width: column(6);
  }
  .col-xs-7 {
    width: column(7);
  }
  .col-xs-8 {
    width: column(8);
  }
  .col-xs-9 {
    width: column(9);
  }
  .col-xs-10 {
    width: column(10);
  }
  .col-xs-11 {
    width: column(11);
  }
  .col-xs-12 {
    width: column(12);
  }
}

// column sm
@include sm {
  .col-sm-1 {
    width: column(1);
  }
  .col-sm-2 {
    width: column(2);
  }
  .col-sm-3 {
    width: column(3);
  }
  .col-sm-4 {
    width: column(4);
  }
  .col-sm-5 {
    width: column(5);
  }
  .col-sm-6 {
    width: column(6);
  }
  .col-sm-7 {
    width: column(7);
  }
  .col-sm-8 {
    width: column(8);
  }
  .col-sm-9 {
    width: column(9);
  }
  .col-sm-10 {
    width: column(10);
  }
  .col-sm-11 {
    width: column(11);
  }
  .col-sm-12 {
    width: column(12);
  }
}

// column md
@include md {
  .col-md-1 {
    width: column(1);
  }
  .col-md-2 {
    width: column(2);
  }
  .col-md-3 {
    width: column(3);
  }
  .col-md-4 {
    width: column(4);
  }
  .col-md-5 {
    width: column(5);
  }
  .col-md-6 {
    width: column(6);
  }
  .col-md-7 {
    width: column(7);
  }
  .col-md-8 {
    width: column(8);
  }
  .col-md-9 {
    width: column(9);
  }
  .col-md-10 {
    width: column(10);
  }
  .col-md-11 {
    width: column(11);
  }
  .col-md-12 {
    width: column(12);
  }
}

$gutter: 16px;
// column gutter
.col-g-1 {
  width: calc(column(1) - $gutter/2);
}
