* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  position: relative;
  font-family: $fontPrimary;
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
