@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin max-width($width) {
  max-width: $width;
  width: 100%;
  margin: 0 auto;
}

@mixin flexbox() {
  display: flex;
}

@mixin justify-content($value) {
  justify-content: $value;
}

@mixin align-items($value) {
  align-items: $value;
}

@mixin centerPosition() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
