// 0px a 767px mobile phone xs
// da 768px a 1023px tablet sm
// da 1024px a 1439px laptop md
// da 1440px a 1919px desktop lg
// da 1920px xl large screen

$phone: 0px; //xs
$tablet: 768px; //sm
$laptop: 1024px; //md
$desktop: 1440px; //lg
$large: 1920px; //xl

@mixin xs {
  @media only screen and (min-width: $phone) and (max-width: #{$tablet - 1 }) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: $tablet) and (max-width: #{$laptop - 1 }) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $laptop) and (max-width: #{$desktop - 1 }) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $desktop) and (max-width: #{$large - 1 }) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: $large) {
    @content;
  }
}
