.inputForm {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: rem($m-md);

  &.error {
    .input {
      border: 1px solid $danger;
    }

    .label {
      color: $danger;
    }
  }
}

.label {
  display: block;
  margin-bottom: rem($m-xxs);
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $inputBorder;
  border-radius: rem($roundedXs);
  padding: rem($p-xs) rem($p-sm);
  margin-bottom: rem($m-xxs);

  &:focus {
    border: 1px solid $inputFocus;
    box-shadow: $elevationMedium;
  }
}

.errorMessage {
  color: $danger;
  display: block;
  font-size: rem(12px);
}

.icon {
  position: absolute;
  width: rem(32px);
  height: rem(32px);
  right: rem($m-sm);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
